body{
  background-color: #FFFFFF;
  padding:0px;
}

.red_band{
	display: flex;
	background-color: #F41F69;
	padding:20px;
}

#wrapper {
  font-family:serif;
}
 input {
  display:block;
}

.maintext {
  margin: 20px 50px 20px 50px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  white-space: nowrap;
  color: #FFFFFF;
}

.container1{
  margin: 10px 50px 10px 50px;
}

.container2{
  margin: 10px 50px 0 50px;
}

.container3{
  margin: 10px 50px 0 50px;
}

.container4{
	margin: 10px 50px 0 50px;
	color: #E70000;
}

#logo{
	position: relative;
	left: 500px;
}

#blocked{
	margin: 10px 50px 0 50px;
	color: #E70000;
}