body{
  background-color: #FFFFFF;
  padding:0px;
  color: #000000;
}

.red_band{
	display: flex;
	background-color: #F41F69;
	padding:20px;
}

.welcome{
	margin: 20px 50px 20px 50px;
  	font-family:Verdana, Arial, Helvetica, sans-serif;
  	white-space: nowrap;
  	color: #FFFFFF;
}

.maintext {
  	margin: 20px 50px 20px 50px;
  	font-family:Verdana, Arial, Helvetica, sans-serif;
  	white-space: nowrap;
  	color: #FFFFFF;
}

table {   
	border:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
	margin: auto;
}

th {
	border:1px solid gray;
	background-color: #F41F69;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border:1px solid gray;
	text-align:center;	
}

td{
	border:1px solid gray;
}

#container{
	margin: auto;
	padding: 30px;
	text-align:center;
}

#content{
	margin: auto;
}

#logout{
	margin: 20px 20px 20px 20px;
}

#logo{
	position: relative;
	left: 500px;
}

#newTodoText{
	size: 50;
}